{% extends "base.html.twig" %}

{% block body %}
    <h1>Index</h1>
    <h2>{{ message }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}

        <input type="submit"/>
    {{ form_end(form) }}


    <strong>You owe me: {{ price|price }} </strong><br>
    <strong>You owe me: {{ price|eurPrice }}</strong>
{% endblock %}
